{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid" id="info-banner"></div>
<div class="container pb-5">
	<div class="row pt-5">
		<div class="col-lg-2 col-sm-12 service-list mb-3">
			<div class="service-head text-center">
				<p>资讯中心</p>
			</div>
			<div class="service-title">
				<ul id="info">
					<li><a href="{% url 'info-center:company_info' %}">企业动态</a></li>
					<li><a href="{% url 'info-center:news' %}">行业新闻</a></li>
					<li><a href="{% url 'info-center:qas' %}">常见问题</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-10 col-sm-12 service-content">
			<div class="service-path pt-3">
				<span><a href="/">首页</a><span>></span></span><span><a href="{% url 'info-center:company_info' %}">资讯中心</a></span>
				{% if is_info %} <span>></span><span><a href="{% url 'info-center:company_info' %}">企业动态</a></span>{% endif %}
				<hr class="mt-2">
			</div>
			<div class="service-detail pt-3 mb-3">
				<p class="ketong-main-title blockquote">
					{% if is_infos %}
					企业动态
					{% else %}
					{{ info.title }}
					{% endif %}
				</p>
				{% if is_infos %}
				<div class="info-item">
					<ul>
						{% for obj in page_obj %}
						<li class="media">
							<img class="mr-3" src="{{ obj.image.url }}" alt="{{ obj.title }}" width="200">
							<div class="media-body">
								<h4 class="mt-0 mb-1"><a href="{% url 'info-center:info_detail' obj.id %}" class="font-weight-bold">{{ obj.title }}</a></h4>
								<p class="mt-3 desc">{{ obj.description }}</p>
								<p class="mt-3">发表时间：{{ obj.created_time }}</p>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
				<p>发表时间：{{ info.created_time }}</p>
				<div class="mt-5">
					{{ info.content|safe }}
				</div>
				{% endif %}
			</div>
			{% include 'pagination.html' %}
			<script src="{% static 'js/info.js' %}" type="text/javascript" charset="utf-8"></script>
		</div>
	</div>
</div>
{% endblock %}
