{% load static %}
<div class="container-fluid footer">
	<div class="container pt-3 mb-5">
		<div class="row">
			<div class="col-lg-6 md-lg-12">
				<div class="footer-box mt-3">
					<span class="footer-title m-2">关于我们</span>
					<span class="footer-content m-2"><a href="{% url 'about_us:about_us' key='profile' %}">企业简介</a></span>
					<span class="footer-content m-2"><a href="{% url 'about_us:about_us' key='culture' %}">企业文化</a></span>
					<span class="footer-content m-2"><a href="{% url 'about_us:about_us' key='show' %}">可通风采</a></span>
					<span class="footer-content m-2"><a href="{% url 'about_us:about_us' key='honor' %}">企业荣誉</a></span>
					<span class="footer-content m-2"><a href="{% url 'about_us:about_us' key='video' %}">视频中心</a></span>
				</div>
				<div class="footer-box mt-3">
					<span class="footer-title m-2">服务项目</span>
					{% for service in services %}
					<span class="footer-content m-2"><a href="{% url 'service:show_service_detail' service.id %}">{{ service.title }}</a></span>
					{% endfor %}
				</div>
				<div class="footer-box mt-3">
					<span class="footer-title m-2">特色服务</span>
					{% for service in spe_services %}
					<span class="footer-content m-2"><a href="{% url 'service:show_spe_services_detail' service.id %}">{{ service.title }}</a></span>
					{% endfor %}
				</div>
				<div class="footer-box mt-3">
					<span class="footer-title m-2">资讯中心</span>
					<span class="footer-content m-2"><a href="{% url 'info-center:company_info' %}">企业动态</a></span>
					<span class="footer-content m-2"><a href="{% url 'info-center:news' %}">行业新闻</a></span>
					<span class="footer-content m-2"><a href="{% url 'info-center:qas' %}">常见问题</a></span>
				</div>
			</div>
			
			<div class="col-lg-6 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="mt-3">
							<div><span class="footer-title">工作时间：</span><span class="text-white">周一至周日 8:00-21:00</span></div>
							<div class="mt-3"><span class="footer-title">客服热线：</span><span class="text-white">400-856-9990</span></div>
							<div class="mt-3"><span class="footer-title">QQ客服：</span><span><a href="http://wpa.qq.com/msgrd?v=3&uin=2880138111&site=qq&menu=yes" target="_blank" class="text-white">2880138111(点击沟通)</a></span></div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 d-flex flex-row text-center justify-content-around">
						<div class="footer-title mt-1 footer-kefu p-1 mr-2">
							<p class="mt-1">自助查单</p>
							<img src="{% static 'images/ketong-gh.png'%}" width="100" height="100" >
						</div>
						<div class="footer-title mt-1 footer-kefu p-1 m1-2">
							<p class="mt-1">人工服务</p>
							<img src="{% static 'images/server-by-person.png'%}" width="100" height="100" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-info">
		<div class="container footer-company">
			<span class="ketong-dark-red">版权所有© 广东可通物流有限公司 匠心可通 让服务更进一步</span>
			<span><a href="http://www.beian.miit.gov.cn/" target="_blank" class="ketong-dark-red">备案号：粤ICP备16013427号</a></span>
			<span><a href="http://www.haobo-ad.com/" target="_blank" class="ketong-dark-red">策划设计：浩博品牌</a></span>
		</div>
	</div>
</div>
