{% if is_paginated %}
<ul class="pagination mt-5 mb-5">
    <!-- 判断是否有上一页，如果没有，上一页就不可点击-->
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">上一页</span></li>
    {% endif %}

    <!-- 显示页数及判断当前在哪一页 -->
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
    </li>
    {% else %}
    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    <!-- 判断是否还有下一页，如果没有，下一页不可点击 -->
    {% if page_obj.has_next %}
    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">下一页</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">下一页</span></li>
    {% endif %}
</ul>
{% endif %}